.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(250, 85, 15); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.player { background: rgb(64, 64, 64); }
.coin   { border-radius: 50px; background: rgb(249, 229, 124); }
.spike  {
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #5e6369 transparent transparent transparent;
 }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
